<div
  style="
    width: 250px;
    height: 160px;
    background-color: #f7f8fa;
    margin-bottom: 1.5rem;
  "
>
  <mat-card>
    <div
      style="
        display: flex;
        justify-content: space-between;
        font-size: small;
        margin-bottom: 1rem;
      "
    >
      <div>ID : HU2200001</div>
      <div style="color: #85929c">31-02-2023</div>
    </div>
    <div style="font-size: small">Lorem Ipsum</div>
    <div
      style="
        font-size: small;
        color: #85929c;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
        margin-top: 0.3rem;
      "
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
      repudiandae porro explicabo hic ipsa magni eius consequuntur! Maiores ad
      iste doloremque blanditiis.
    </div>
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex">
        <img
          src="../../../../assets/images/model3.jpg"
          width="32px"
          height="32px"
          style="border-radius: 50%"
        />
        <div style="margin-top: 8px; margin-left: 5px">Ravi Jain</div>
      </div>
      <div>
        <div style="font-size: smaller; text-align: right; color: #85929c">
          Priority
        </div>
        <button
          style="
            width: 100%;
            border: none;
            background-color: #dc3545;
            color: white;
            border-radius: 4px;
            padding: 0px 10px;
            height: 20px;
          "
        >
          HIGH
        </button>
      </div>
    </div>
  </mat-card>
</div>
