<div
  class="card-container"
  *ngIf="data !== undefined"
  (click)="sendDataToCardDetail(data)"
>
  <mat-card id="card-issue">
    <div class="card-body">
      <div class="c-ID">ID : {{ data?.projectID }}</div>
      <div class="c-Date">{{ formatDate(data?.createdOn) }}</div>
    </div>
    <div class="c-title">{{ data?.summary }}</div>
    <div class="c-description">
      {{ data?.description }}
    </div>
    <div class="c-profile-container">
      <div style="display: flex">
        <img
          src="../../../../assets/images/model3.jpg"
          alt="profile-img"
          class="c-profile-img"
        />
        <div class="c-profile-name">{{ data?.assignee?.name }}</div>
      </div>
      <div>
        <div class="c-priority-name">Priority</div>
        <button
          [ngClass]="
            data?.priority === 1
              ? 'c-priority-btn low-p'
              : data?.priority === 2
              ? 'c-priority-btn medium-p'
              : 'c-priority-btn high-p'
          "
        >
          {{
            data?.priority === 1
              ? 'LOW'
              : data?.priority === 2
              ? 'MEDIUM'
              : 'HIGH'
          }}
        </button>
      </div>
    </div>
  </mat-card>
</div>
