<div class="card-container">
  <mat-card>
    <div class="card-body">
      <div class="c-ID">ID : HU2200001</div>
      <div class="c-Date">31-02-2023</div>
    </div>
    <div class="c-title">Lorem Ipsum</div>
    <div class="c-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
      repudiandae porro explicabo hic ipsa magni eius consequuntur! Maiores ad
      iste doloremque blanditiis.
    </div>
    <div class="c-profile-container">
      <div style="display: flex">
        <img src="../../../../assets/images/model3.jpg" class="c-profile-img" />
        <div class="c-profile-name">Ravi Jain</div>
      </div>
      <div>
        <div class="c-priority-name">Priority</div>
        <button class="c-priority-btn">HIGH</button>
      </div>
    </div>
  </mat-card>
</div>
