.container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #cfcfcf;
  padding-left: 1.5rem;
  height: 75px;
  align-items: center;
  background-color: #f7f8fa;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.content {
  display: flex;
  width: 85%;
  align-items: center;
  margin-top: 10px;
}
.border-line {
  border: 1px solid #cfcfcf;
  height: 100%;
}
.s-input-container {
  margin-left: 1rem;
  width: 90%;
}
.s-input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: #f7f8fa;
  padding: 1rem 1rem 1rem 0rem;
}
.h-profile-container {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}
.h-profile-name {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.h-profile-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
