<div class="container">
  <div
    class="content"
    [ngStyle]="
      currentRoute === '/'
        ? { visibility: 'visible' }
        : { visibility: 'hidden' }
    "
  >
    <img
      src="../../../../../assets/images/search.svg"
      width="20px"
      height="20px"
    />
    <div class="s-input-container">
      <input
        type="text"
        placeholder="Search"
        class="s-input"
        (change)="search($event)"
        id="txt-search"
      />
    </div>
  </div>
  <div
    class="border-line"
    [ngStyle]="currentRoute === '/' ? { display: 'flex' } : { display: 'none' }"
  ></div>

  <div class="h-profile-container">
    <div class="h-profile-name">Nitesh</div>
    <div>
      <img
        src="../../../../../assets/images/model3.jpg"
        class="h-profile-img"
      />
    </div>
  </div>
</div>
