<div class="container">
  <div style="display: flex; width: 85%">
    <img
      src="../../../../../assets/images/search.svg"
      width="20px"
      height="20px"
    />
    <div style="margin-left: 1rem">
      <input
        type="text"
        placeholder="Search"
        style="border: none; width: 100%"
      />
    </div>
  </div>
  <div style="border: 1px solid #cfcfcf; height: 100%"></div>

  <div style="display: flex; width: 15%; justify-content: space-evenly">
    <div style="padding-top: 1rem">Nitesh</div>
    <div>
      <img
        src="../../../../../assets/images/model3.jpg"
        width="45px"
        height="45px"
        style="border-radius: 50%"
      />
    </div>
  </div>
</div>
