<form class="form-container" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="form-title">Create Project</div>
  <div class="form-body">
    <div class="field-container-width">
      <div>Project Name*</div>
      <mat-form-field class="input-form-width">
        <mat-label class="input-label-gap">Project Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Project Name"
          formControlName="projectName"
          id="txt-project-name"
          maxlength="150"
        />
        <mat-error
          *ngIf="
            projectForm.get('projectName')?.invalid &&
            projectForm.get('projectName')?.touched
          "
          id="err-txt-project-name"
        >
          {{
            projectForm.get('projectName')?.hasError('maxlength')
              ? 'length should not exceeed to 150'
              : 'Please enter valid project name.'
          }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container-width">
      <div>Owner*</div>
      <mat-form-field class="input-form-width">
        <mat-label class="input-label-gap">Select</mat-label>
        <mat-select formControlName="projectOwner" id="ddl-project-owner">
          <mat-option
            *ngFor="let owner of ownerList"
            [value]="owner.id"
            id="opt-ddl-project-owner"
          >
            {{ owner.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            projectForm.get('projectOwner')?.invalid &&
            projectForm.get('projectOwner')?.touched
          "
          id="err-txt-project-owner"
        >
          Please select an option.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between">
    <div class="field-container-width">
      <div>Project Start Date</div>
      <mat-form-field class="input-form-width">
        <mat-label class="input-label-gap">MM/DD/YYY</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="projectStartDate"
          id="dtp-start-date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="
            projectForm.get('projectStartDate')?.hasError &&
            projectForm.get('projectStartDate')?.touched
          "
          >Please enter a valid Date</mat-error
        >
      </mat-form-field>
    </div>
    <div class="field-container-width">
      <div>Project End Date</div>
      <mat-form-field class="input-form-width">
        <mat-label class="input-label-gap">MM/DD/YYY</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="projectEndDate"
          id="dtp-end-date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            projectForm.get('projectEndDate')?.hasError &&
            projectForm.get('projectEndDate')?.touched
          "
          >Please enter a valid Date</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="btn-container">
    <button class="reset-btn" (click)="reset()" id="btn-reset-form">
      RESET
    </button>
    <button
      [ngClass]="
        projectForm.invalid || isLoading ? 'disable-btn' : 'create-btn'
      "
      type="submit"
      [disabled]="projectForm.invalid || isLoading ? 'true' : 'false'"
      id="btn-create-project"
    >
      CREATE
    </button>
  </div>
</form>
<!-- <app-loader *ngIf="isLoading"></app-loader> -->
