<div style="padding: 20px">
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 1rem"
  >
    <div style="font-size: x-large">Project Details</div>
    <button
      style="
        background-color: #1d262d;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      "
      (click)="viewInsights()"
    >
      VIEW INSIGHTS
    </button>
  </div>

  <div style="display: flex; justify-content: space-between">
    <div style="width: 48%">
      <div>Project Name</div>
      <mat-form-field class="example-full-width">
        <mat-select [(value)]="foods[0].value">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="width: 48%">
      <div>Project Owner</div>
      <mat-form-field class="example-full-width">
        <input matInput value="Sushi" />
      </mat-form-field>
    </div>
  </div>

  <div style="display: flex; color: #85929c">
    <div>Start Date : 31-02-2023</div>
    <div
      style="
        border-right: 1px solid #85929c;
        margin-right: 1rem;
        margin-left: 1rem;
      "
    ></div>
    <div>End Date : 31-02-2023</div>
  </div>

  <div
    style="
      display: flex;
      width: 48%;
      justify-content: space-between;
      margin-top: 2rem;
      color: #1d262d;
      margin-bottom: 2rem;
    "
  >
    <div style="width: 48%">
      <mat-form-field class="example-full-width">
        <mat-select [(value)]="foods[0].value">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-top: -1rem; font-size: small">Filter Assignee</div>
    </div>
    <div style="width: 48%">
      <mat-form-field>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span
              *ngIf="(toppings.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (toppings.value?.length || 0) - 1 }}
              {{ toppings.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-top: -1rem; font-size: small">Filter Priority</div>
    </div>
  </div>
</div>

<table style="width: 100%; background-color: #f7f8fa; margin: 0">
  <tr style="color: #757575; margin: 10px 15px">
    <td>TO-DO</td>
    <td>DEVELOPMENT</td>
    <td>TESTING</td>
    <td>COMPLETED</td>
  </tr>
  <tr style="margin: 10px 15px">
    <td><app-card></app-card></td>
    <td><app-card></app-card></td>
    <td><app-card></app-card></td>
    <td><app-card></app-card></td>
  </tr>
  <tr style="margin: 10px 15px">
    <td><app-card></app-card></td>
    <td></td>
    <td><app-card></app-card></td>
    <td></td>
  </tr>
</table>
