<div class="url-container" *ngIf="!isEdit && !isLoading">
  <div class="url-container-body">
    <div class="i-board-url" (click)="back()">Project Board</div>
    <div>/</div>
    <div>Issue Details</div>
  </div>

  <div class="i-summary-container">
    <div class="i-issue-title">HU 22.0 Angular Track</div>
    <div class="i-summary-title" id="txt-summary">
      {{ issueData?.summary }}
    </div>
  </div>
  <div class="i-body-container">
    <div class="i-left-body-info">
      <div class="i-description">Discription :</div>
      <div class="i-description-name" id="txa-description">
        {{ issueData?.description }}
      </div>
      <hr />
      <div>
        <div class="i-detail">Details</div>
        <div class="i-type-sprint-container">
          <div class="i-detail-container">
            <div class="i-static-title">Type :</div>
            <div class="i-type-img" *ngIf="issueData?.type != undefined">
              <img
                src="../../../assets/images/error.svg"
                style="width: 20px; height: 20px"
                alt="error-img"
              />
              <div class="i-type-name" id="ddl-issue-type">
                {{
                  issueData?.type === 1
                    ? 'Bug'
                    : data?.type === 2
                    ? 'Task'
                    : data?.type === 3
                    ? 'Story'
                    : ''
                }}
              </div>
            </div>
          </div>
          <div class="i-detail-container">
            <div class="i-static-title">Sprint :</div>
            <div style="font-size: 16px; line-height: 24px" id="ddl-sprint">
              {{ issueData?.sprint }}
            </div>
          </div>
        </div>
        <!-- detail 2 -->
        <div class="i-tag-container">
          <div class="i-detail-container">
            <div class="i-tag-title">Tags :</div>
            <div class="i-tag-body">
              <div
                class="i-tag-gap"
                *ngFor="let tag of issueData?.tags"
                id="ddl-tags"
              >
                <div class="tags-container">
                  {{ tag }}
                </div>
              </div>
            </div>
          </div>
          <div class="i-priority">
            <div class="i-static-title">Priority :</div>
            <div
              *ngIf="issueData?.priority != undefined"
              [ngClass]="
                issueData?.priority === 1
                  ? 'priority low-p'
                  : issueData?.priority === 2
                  ? 'priority medium-p'
                  : 'priority high-p'
              "
              id="ddl-priority"
            >
              {{
                issueData?.priority === 1
                  ? 'LOW'
                  : issueData?.priority === 2
                  ? 'MEDIUM'
                  : 'HIGH'
              }}
            </div>
          </div>
        </div>
        <!-- detail 3 -->
        <div class="i-storypoint">
          <div class="i-static-title">Story Points :</div>
          <div class="i-storypoint-name" id="txt-story-point">
            {{ issueData?.storyPoint }}
          </div>
        </div>
        <!-- horizontal line -->
        <div class="i-horizontal-line"></div>
        <!-- comment -->
        <div class="i-comment-container">
          <div class="i-comment-body">
            <div class="i-comment-title">Comments</div>
            <div class="i-comment-vertical-line"></div>
            <div class="i-comment" (click)="showComment()">
              <img
                src="{{
                  'assets/images/' +
                    (!isCommentFieldActive
                      ? 'comment_active'
                      : 'comment_not_active') +
                    '.svg'
                }}"
                class="i-comment-img"
                alt="plus-icon"
              />
              <div
                class="i-comment-name"
                [ngStyle]="
                  !isCommentFieldActive
                    ? { color: '#fe7912' }
                    : { color: '#85929c' }
                "
                id="btn-add-comment"
              >
                Add Comment
              </div>
            </div>
          </div>
          <!-- comment inputfield -->
          <form
            *ngIf="isCommentFieldActive"
            [formGroup]="commentForm"
            (ngSubmit)="postComment()"
          >
            <mat-form-field class="i-inputfield-width">
              <textarea
                placeholder="Write comment"
                rows="5"
                required
                type="text"
                formControlName="comment"
                id="txt-comment"
                matInput
              ></textarea>
              <mat-error
                *ngIf="
                  commentForm.get('comment')?.invalid &&
                  commentForm.get('comment')?.touched
                "
                id="err-txt-project-name"
              >
                Please enter valid comment
              </mat-error>
            </mat-form-field>
            <div class="i-btn-container">
              <button
                class="i-post-btn"
                id="btn-post-comment"
                type="submit"
                [ngClass]="
                  commentForm.invalid || isDisabledComment
                    ? 'i-post-disabled-btn'
                    : 'i-post-btn'
                "
                [disabled]="commentForm.invalid || isDisabledComment"
              >
                POST
              </button>
              <button
                class="i-cancel-btn"
                (click)="onCancel()"
                id="btn-cancel-form"
              >
                CANCEL
              </button>
            </div>
          </form>
          <!-- comment list -->
          <div
            class="i-comment-list"
            id="wrapper-comment"
            *ngFor="let comment of commentList"
          >
            <div class="i-comment-list-description" id="txt-comment">
              {{ comment.comment }}
            </div>
            <div class="i-comment-list-info">
              <div>Posted on: {{ formatDate(comment.createdOn) }}</div>
              <div>Added by: {{ comment.createdBy.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="i-right-body-info">
      <button class="i-edit-btn" (click)="EditIssue()" id="lnk-edit-issue">
        EDIT ISSUE
      </button>
      <form class="i-card" [formGroup]="updateForm">
        <div>
          <div class="i-status">Status</div>
          <div>
            <mat-form-field class="i-inputfield-width">
              <mat-label>Choose an option</mat-label>
              <mat-select
                id="ddl-status"
                formControlName="status"
                (selectionChange)="updateIssue('', $event.value)"
              >
                <mat-option
                  [value]="status.id"
                  *ngFor="let status of issueStatus"
                  >{{ status.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="i-assignee">Assignee</div>
        <div>
          <mat-form-field class="i-inputfield-width">
            <mat-label>Choose an option</mat-label>
            <mat-select
              id="ddl-assignee"
              formControlName="assignee"
              (selectionChange)="updateIssue($event.value, '')"
            >
              <mat-option
                [value]="assignee.id"
                id="opt-ddl-assignee"
                *ngFor="let assignee of userList"
                >{{ assignee.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div class="i-created-on">
            <div>Created On :</div>
            <div>{{ formatDate(issueData?.createdOn) }}</div>
          </div>
          <div class="i-last-updated">
            <div>Last Updated :</div>
            <div>
              {{
                formatDate(
                  issueData?.updatedOn === null ||
                    issueData?.updatedOn === undefined
                    ? ''
                    : issueData?.updatedOn
                )
              }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-create-issues *ngIf="isEdit"></app-create-issues>
<app-loader *ngIf="isLoading"></app-loader>
