<div class="mc-container">
  <div class="mc-profile-container">
    <img src="../../../assets/images/model3.jpg" class="mc-profile-img" />
    <div>
      <div class="mc-profile-name">
        {{
          projectOwner === undefined
            ? data?.name
            : projectOwner?.projectOwner?.name
        }}
      </div>
      <div class="mc-profile-designation">
        {{
          projectOwner === undefined
            ? data?.desination
            : projectOwner?.projectOwner?.desination
        }}
      </div>
    </div>
  </div>
  <div class="mc-profile-owner">
    {{ projectOwner === undefined ? 'Member' : 'Owner' }}
  </div>
</div>
