<div
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  "
>
  <div style="display: flex; align-items: center; gap: 0.5rem">
    <img
      src="../../../assets/images/model3.jpg"
      width="48px"
      height="48px"
      style="border-radius: 50%"
    />
    <div>
      <div
        style="
          font-size: 14px;
          font-weight: 400;
          color: #1d262d;
          margin-bottom: 0.3rem;
        "
      >
        Pushpa Raj
      </div>
      <div style="font-size: 12px; font-weight: 400; color: #85929c">
        Engineering Management Master
      </div>
    </div>
  </div>
  <div style="font-size: 12px; font-weight: 400; color: #85929c">Owner</div>
</div>
