<div class="url-container" *ngIf="!isLoading">
  <div class="url-container-body">
    <div class="i-board-url" (click)="back()">Project Board</div>
    <div>/</div>
    <div>View Insights</div>
  </div>

  <div class="i-body-container">
    <div class="i-chart-width">
      <mat-card class="i-chart-card-container">
        <div class="i-chart-card-title">HU 22.0 Angular Track</div>
        <div class="i-chart-card-issue" id="count-total">
          Total Number of Issues : {{ totalIssue }}
        </div>
        <hr />
        <table class="i-table">
          <caption></caption>
          <tr class="i-th">
            <th scope="col">TO DO</th>
            <th scope="col">DEVELOPMENT</th>
            <th scope="col">TESTING</th>
            <th scope="col">COMPLETED</th>
          </tr>
          <tr>
            <td class="i-todo" id="count-to-do">
              {{ statusList.todo?.length }}
            </td>
            <td class="i-development" id="count-development">
              {{ statusList.development?.length }}
            </td>
            <td class="i-testing" id="count-testing">
              {{ statusList.testing?.length }}
            </td>
            <td class="i-completed" id="count-completed">
              {{ statusList.completed?.length }}
            </td>
          </tr>
        </table>
      </mat-card>

      <div class="i-chart-container">
        <div class="i-statusbar">Status Bar</div>

        <div class="i-chart-body">
          <div
            id="i-todo-bg"
            [style.width]="
              (statusList.todo?.length / statusList.total) * 100 + '%'
            "
            [ngClass]="
              (statusList.todo?.length / statusList.total) * 100 < 100
                ? 'i-border-left'
                : 'i-border-left i-border-right'
            "
          ></div>
          <div
            id="i-development-bg"
            [style.width]="
              (statusList.development?.length / statusList.total) * 100 + '%'
            "
            [ngClass]="
              (statusList.development?.length / statusList.total) * 100 < 100
                ? ''
                : 'i-border-left i-border-right'
            "
          ></div>
          <div
            id="i-testing-bg"
            [style.width]="
              (statusList.testing?.length / statusList.total) * 100 + '%'
            "
            [ngClass]="
              (statusList.testing?.length / statusList.total) * 100 < 100
                ? ''
                : 'i-border-left i-border-right'
            "
          ></div>
          <div
            id="i-completed-bg"
            [style.width]="
              (statusList.completed?.length / statusList.total) * 100 + '%'
            "
            [ngClass]="
              (statusList.completed?.length / statusList.total) * 100 < 100
                ? 'i-border-right'
                : 'i-border-right i-border-left'
            "
          ></div>
        </div>

        <div class="i-chart-info-container">
          <div class="i-info">
            <div class="i-info-dimension" id="i-todo-bg"></div>
            <div>TO DO</div>
          </div>
          <div class="i-info">
            <div class="i-info-dimension" id="i-development-bg"></div>
            <div>DEVELOPMENT</div>
          </div>
          <div class="i-info">
            <div class="i-info-dimension" id="i-testing-bg"></div>
            <div>TESTING</div>
          </div>
          <div class="i-info">
            <div class="i-info-dimension" id="i-completed-bg"></div>
            <div>COMPLETED</div>
          </div>
        </div>
      </div>
    </div>

    <div class="i-m-container">
      <mat-card class="i-m-card">
        <div class="i-m-card-title">Team Members</div>
        <div class="i-m-card-total-member">{{ totalMember }} Members</div>
        <app-member-card
          id="wrapper-project-owner"
          [projectOwner]="project[0]"
        ></app-member-card
        ><br />
        <hr />
        <div *ngFor="let user of assignee" id="wrapper-team-members">
          <app-member-card [data]="user"></app-member-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
