<div class="s-container">
  <div class="s-icon">
    <img src="../../../../assets/images/Logo.svg" height="30px" />
  </div>
  <div class="s-menu">
    <div
      routerLinkActive="active"
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
    >
      PROJECT BOARD
    </div>
    <div routerLinkActive="active" routerLink="/create-issue">
      CREATE ISSUES
    </div>
    <div routerLinkActive="active" routerLink="/create-project">
      CREATE PROJECT
    </div>
  </div>
</div>
