.active {
  border-left: 5px solid #fe7912;
  border-radius: 4px;
  background-color: #1d262d;
  padding-left: 10px;
  color: #fe7912;
}
.s-container {
  background-color: #1d262d;
  height: 100%;
  padding-top: 5rem;
}

.s-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 5rem;
  color: #ffffff;
  cursor: pointer;
}
