<div style="background-color: #1d262d; height: 100%">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding-top: 40px;
    "
  >
    <img src="../../../../assets/images/Logo.svg" height="30px" />
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      font-size: large;
      margin-top: 5rem;
      color: #ffffff;
      cursor: pointer;
    "
  >
    <div (click)="projectBoard()">PROJECT BOARD</div>
    <div (click)="createIssues()">CREATE ISSUES</div>
    <div>CREATE PROJECT</div>
  </div>
</div>
